@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 1 449;
  src: url(../font/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 450 499;
  src: url(../font/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500 900;
  src: url(../font/Inter-Bold.ttf);
}
