@font-face {
  font-family: "Utendo";
  font-style: normal;
  font-weight: 400;
  src: url(../font/Utendo-Regular.ttf);
}

@font-face {
  font-family: "Utendo";
  font-style: normal;
  font-weight: 500;
  src: url(../font/Utendo-Bold.ttf);
}
