<footer class="footer">
  <div class="footerdiv">
    <p>© 2024 Klayr</p>
    <!-- <div class="community-section">
      <p class="community-section__text">Follow Klayr on: </p>
      <div class="community-section__icons"> -->
    <div class="community_icons">
      <a href="https://klayr.chat" title="Discord" target="_blank" class="footer_icon icon-discord"><p>Discord</p></a>
      <a href="https://dev.klayr.com" title="Discourse" target="_blank" class="footer_icon icon-discourse"><p>Discourse</p></a>
      <a href="https://github.com/KlayrHQ" title="GitHub" target="_blank" class="footer_icon icon-github"><p>GitHub</p></a>
      <!--    </div> -->
    </div>
  </div>
</footer>
