:root {
  --color-volt: #D4FF00;
  --rgb-volt: 212, 255, 0;
  --color-volt-dark: #B8FF01;
  --rgb-volt-dark: 184, 255, 1;
  --color-dark-blue: #050516;
  --color-second-blue: #363f55;
  --color-azule: #0D75FD;
  --rgb-azule: 13, 117, 253;
  --color-ufo-green: #2bd67b;
  --rgb-ufo-green: 43, 214, 123;
  --color-copacabana-yellow: #f7e36d;
  --rgb-copacabana-yellow: 247, 227, 109;
  --color-blue-gray: #8a8ca2;
  --rgb-blue-gray: 138, 140, 162;
  --color-silver-gray: #c5cfe4;
  --rgb-silver-gray: 197, 207, 228;
  --color-platinum-gray: #dfe6f2;
  --color-athens-white: #f7f9fb;
  --color-sand: #EDEDCE;
  --rgb-sand: 237, 237, 206;
  --color-lobster: #FF422D;
  --rgb-lobster: 255, 66, 45;
  --color-lobster-dark: #FF1208;
  --rgb-lobster-dark: 255, 18, 8;
  --color-orange: #ff8743;
  --rgb-orange: 255, 135, 67;
  --navbar-height: calc(99 / var(--rem-base) * 1rem);
  --nav-width: calc(324 / var(--rem-base) * 1rem);
  --body-font-family: "BasierCircle", sans-serif;
  --nav-height--desktop: calc(var(--body-min-height) - var(--toolbar-height));
  --doc-font-size--desktop: calc(18 / var(--rem-base) * 1rem);
  --doc-line-height: 1.5;
  --heading-font-weight: normal;
}
