<footer class="footer">
    <div class="footer__container">
        <div class="footer__copyright">
            <div class="institutional-links-2">
                <span class="institutional-links-2__item">© 2024 Klayr</span>
              <ul class="footer-links">
                <li><a class="institutional-links-2__item" href="https://klayr.com/terms-conditions" class="institutional-links-2-item">Terms & Conditions</a></li>
                <li><a class="institutional-links-2__item" href="https://klayr.com/privacy" class="institutional-links-2-item">Privacy Policy</a></li>
                <li><a class="institutional-links-2__item" href="https://klayr.com/contact" class="institutional-links-2-item">Contact</a></li>
              </ul>
            </div>
            <p class="footer__copyright-text">Klayr is a foundation registered in Zug, Switzerland
            </p>
        </div>
        <div class="footer__logo-container">
            <img src="{{uiRootPath}}/img/klayr-logo-light.svg" class="footer__klayr-logo"/>
        </div>
        <div class="community-section">
            <p class="community-section__text">Follow Klayr on: </p>
            <div class="community-section__icons">
                <a href="https://github.com/KlayrHQ" title="GitHub" target="_blank" class="footer__icon icon-github"></a>
                <a href="https://twitter.com/KlayrHQ" title="Twitter" target="_blank" class="footer__icon icon-twitter"></a>
                <a href="https://klayr.chat" title="Discord" target="_blank" class="footer__icon icon-discord"></a>
                <a href="https://www.reddit.com/r/Klayr/" title="Reddit" target="_blank" class="footer__icon icon-reddit"></a>
                <a href="https://www.facebook.com/KlayrHQ" title="Facebook" target="_blank" class="footer__icon icon-facebook"></a>
            </div>
        </div>
    </div>
</footer>
