    <title>{{{detag (or page.title defaultPageTitle)}}} - Klayr {{#if (eq page.component.name "klayr-core") }} Core {{else if (eq page.component.name "klayr-protocol") }} Protocol {{else if (eq page.component.name "klayr-service") }} Service {{else}} SDK {{/if}} Docs</title>
